
<!-- Modal -->{{ form_start(formFournisseur) }}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Formulaire de fournisseur</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body">

			<div class="form-row">
				 <div class="form-group col-md-6">
				<label class="form-group has-float-label mb-4">
					{{form_row(formFournisseur.nom ,{'attr':{'class':'form-control'}})}}
				</label>
				</div>
				<div class="form-group col-md-6">
				<label class="form-group has-float-label mb-4">
					{{form_row(formFournisseur.prenom ,{'attr':{'class':'form-control'}})}}
				</label>
				</div>
			</div>
				<div class="form-row">
				 <div class="form-group col-md-6">

				<label class="form-group has-float-label mb-4">
					{{form_row(formFournisseur.tel ,{'attr':{'class':'form-control'}})}}
				</label>
				</div>
				<div class="form-group col-md-6">
				<label class="form-group has-float-label mb-4">
				   {{form_row(formFournisseur.email ,{'attr':{'class':'form-control'}})}}
				</label>
				</div></div>
				<div class="form-row">
				 <div class="form-group col-md-6">
				<label class="form-group has-float-label mb-4">
					{{form_row(formFournisseur.cin ,{'attr':{'class':'form-control'}})}}
				</label>
				</div></div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary  btn-shadow" type="submit">AJOUTER</button>
				</div>
			</div>
		</div>
	</div>
</div> {{ form_end(formFournisseur) }}