
{% extends 'base.html.twig' %}

{% block title %}List des Factures!{% endblock %}
{% block body %}
<style>
.btn-sm,.btn-group-sm>.btn{
    padding:.2rem .3rem;
    font-size:.875rem;
}
</style>
<body id="app-container" class="menu-default show-spinner">
   {% include "includes/body_dash.html.twig" %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>List des factures</h1>
                 <div class="top-right-button-container">
                        <a href="{{path('facture_create')}}">
                            <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">AJOUTER NOUVEAU</button>
                        </a>
                    
                        </div>
						     <div class="mb-2">
                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                            role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse dont-collapse-sm" id="displayOptions">
                           
                            <div class="d-block d-md-inline-block">
                               
                                <div class="search-sm  d-inline-block float-md-left mr-1 mb-1 align-top">
                                    <input class="form-control datepicker" placeholder="Rechercher par nom">
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="data-table data-table-scrollable responsive nowrap"
                                data-order="[[ 1, &quot;desc&quot; ]]">
                                <thead>
								
                                    <tr>
                                        <th>Titre</th>
                                        <th>type</th>
                                        <th>description</th>
                                        <th>Date</th>
										<th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
								{% for facture in facture %}
								
                                    <tr>
                                        <td>
                                            {% if facture.type == 0 %}
                                                <span><i class="fas fa-circle" style="color:green"></i></span>&nbsp<span class="list-item-heading">{{facture.title}}</span>
                                            {% elseif facture.type == 1 %}
                                                <span><i class="fas fa-circle" style="color:red"></i></span>&nbsp<span class="list-item-heading">{{facture.title}}</span>
                                            {% endif %}
                                           
                                        </td>

                                        <td>
                                        {% if facture.type == 0 %}
                                            <p id="type" class="text-muted">Vente</p>
                                            {% elseif facture.type == 1 %}
                                            <p id="type" class="text-muted">Achat</p>
                                             {% endif %}
                                        </td>
                                        
                                        <td>
                                            <p class="text-muted">{{facture.description}}</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">{{facture.date | date('d/m/Y')}}</p>
                                        </td>
										 <td>
                                            <p class="text-muted">
                                             <div class="btn-group btn-group-sm  mr-2  mb-1" role="group">
                                    <a  href="{{url('facture_show',{id:facture.id})}}" type="button" class="btn  btn-warning"><i class="fas fa-eye"></i></a>
                                    <a href="{{url('facture_edit',{id:facture.id})}}" type="button" class="btn  btn-primary"><i class="fas fa-edit"></i></a>
                                </div></p>
                                        </td>
                                    </tr>
									{% endfor %}
                                </tbody>
                            </table>
							  <nav class="mt-4 mb-3">
                        <ul class="pagination justify-content-center mb-0">
                           {{knp_pagination_render(facture)}}
                        </ul>
                    </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script src="js/scripts.js"></script>
</body>

{% endblock %}